.background {
    background-image: url("../images/DotsBackground.png");
    background-repeat: no-repeat;
}

.title {
    background: linear-gradient(85.61deg, #FFB703 1.37%, #219EBC 60.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 3rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: bold;
    font-weight: 700;
    margin: 0px;
}

.text  {
    font-size: 1.25rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    max-width: 35rem;
    margin-top: 2rem;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 12rem;
    padding-bottom: 12rem;
    gap: 10rem;
}

.textContainer {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 7rem;
}

.sections {
    display: flex;
    flex-direction: column;
    margin-bottom: 12rem;
    gap: 10rem;
}
