.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.regular-link {
    color: black;
}

.special-link {

}